{
  "extends": [
    "codex",
    "plugin:@typescript-eslint/recommended"
  ],
  "globals": {
    "fetch": true,
    "ImageConfig": true,
    "ImageToolData": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ]
}
