.image-tool {
  --bg-color: #cdd1e0;
  --front-color: #388ae5;
  --border-color: #e8e8eb;

  &__image {
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;

    &-picture {
      max-width: 100%;
      vertical-align: bottom;
      display: block;
      /* margin: 0 auto; */
    }

    &-preloader {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-size: cover;
      margin: auto;
      position: relative;
      background-color: var(--bg-color);
      background-position: center center;

      &::after {
        content: '';
        position: absolute;
        z-index: 3;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid var(--bg-color);
        border-top-color: var(--front-color);
        left: 50%;
        top: 50%;
        margin-top: -30px;
        margin-left: -30px;
        animation: image-preloader-spin 2s infinite linear;
        box-sizing: border-box;
      }
    }
  }

  &__caption {
    color: #707684;
    font-weight: normal;
    text-align: left;
    width: 100%;
    outline: none;
    box-shadow: none;


    &[contentEditable='true'][data-placeholder] {
      position: relative;

      &::before {
        position: absolute !important;
        content: attr(data-placeholder);
        color: #707684;
        font-weight: normal;
        display: none;
        width: 100%;
        text-align: center;
        top: 0;
        left: 0;
      }

      &:empty {
        &::before {
          display: block;
        }

        &:focus::before {
          display: none;
        }
      }
    }

    &::placeholder {
      text-align: center;
      color: #707684;
    }

    &::-webkit-input-placeholder {
      text-align: center;
      color: #707684;
    }
    &:-moz-placeholder {
      text-align: center;
      color: #707684;
      opacity: 1;
    }
    &::-moz-placeholder {
      text-align: center;
      color: #707684;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      text-align: center;
      color: #707684;
    }
  }

  &--empty {
    ^&__image {
      display: none;
    }
  }

  &--empty,
  &--loading {
    ^&__caption {
      display: none;
    }
  }

  .cdx-button {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: auto;
      margin: 0 6px 0 0;
    }
  }

  &--filled {
    .cdx-button {
      display: none;
    }

    ^&__image {
      &-preloader {
        display: none;
      }
    }
  }

  &--loading {
    ^&__image {
      min-height: 200px;
      display: flex;
      border: 1px solid var(--border-color);
      background-color: #fff;

      &-picture {
        display: none;
      }
    }

    .cdx-button {
      display: none;
    }
  }

  /**
   * Tunes
   * ----------------
   */

  &--withBorder {
    ^&__image {
      border: 1px solid var(--border-color);
    }
  }

  &--withBackground {
    ^&__image {
      padding: 15px;
      background: var(--bg-color);

      &-picture {
        max-width: 60%;
        margin: 0 auto;
      }
    }
  }

  &--stretched {
    ^&__image {
      &-picture {
        width: 100%;
      }
    }
  }
}

@keyframes image-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.resizable-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.resizable-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.image-container {
  position: relative;
  width: fit-content;  

  &:hover {
    .resize-handle {
      opacity: 1;
    }
    .resize-container-left {
      pointer-events: auto;
    }
    .resize-container-right {
      pointer-events: auto;
    }
  }
}

.resize-container-left {
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 0px;
  z-index: 1;
  height: 100%;
  width: 15px;
  cursor: col-resize;
}

.resize-handle {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 20px;
  background: rgba(15, 15, 15, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  width: 6px;
  height: 48px;
  max-height: 50%;
}

.resize-container-right {
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0px;
  top: 0px;
  z-index: 1;
  height: 100%;
  width: 15px;
  cursor: col-resize;
}
